body {
    background-image: url("images/background.jpg");
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(245, 7, 7);;
    font-family: Arial, sans-serif;
    color: rgb(231, 235, 11);
    font-size: 18px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    margin: 0 15px;
    background-color: yellow;
    border: 2px solid whitesmoke;
    color: rgb(238, 10, 10);
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.visualization-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.visualization-block {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #00ffff;
    animation: beat 0.2s ease-in-out infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

#repeat {
    display: inline-block;
    background-color: #ffffff04;
    color:white;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    margin: 0 10px;
  }

  .repeat-label {
    color: '';
    font-weight: bold;
  }

  .active {
    color: yellow;
  }

  #album-cover {
    width: 400px;
    height: 400px;
  }
  

  #album-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 2.5;
    mix-blend-mode: overlay;
    z-index: -2;
  }
  


#thumbnail-container {
    position: relative;
  }
  
  #thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  #audio-container {
    display: none;
  }
  
  #player.playing #thumbnail {
    display: block;
  }
  
  #player.playing #audio-container {
    display: block;
  }


  header {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  

  h1 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  h1:hover {
    transform: scale(1.1);
  }

  
  
  



  
  